a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.route {
    height: 180px;
    border: 1px solid #B2B2B2;
    padding: 0 20px;
    text-align: center;
}
.route:hover {
    box-shadow: 5px 5px 5px 5px #bdbdbd;
    cursor: pointer;
}

.routeHeader{
    height: 25%;
    width: 100%;
    border-bottom: 0.5px solid #B2B2B2;
    box-sizing: border-box;
    padding-top: 12px;
    color: #353535
}

.routeBody {
    height: 55%;
    width: 100%;
    border-bottom: 0.5px solid #B2B2B2;
    padding-top: 35px
}

.routeBody span {
    font-size: 18px
}

.routeFooter {
    float: right;
    padding-top: 10px
}

/*post, edit ticket*/
.btn-post-ticket {
    border: 1px solid #fff;
    display: inline-block;
    background-color: #FCCD1E;
    text-align: center;
    color: #fff;
    width: 130px;
    height: 40px;
    padding-top: 10px; 
    cursor: pointer;
}

.btn-post-now {
    border: 1px solid #fff;
    display: inline-block;
    background-color: #FCCD1E;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 50px;
    padding-top: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-delete-now {
    border: 1px solid #fff;
    display: inline-block;
    background-color:#d9534f;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 50px;
    padding-top: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-confirm-now {
    border: 1px solid #fff;
    display: inline-block;
    background-color:#5cb85c;
    text-align: center;
    color: #fff;
    width: 150px;
    height: 50px;
    padding-top: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-view-now {
    border: 1px solid #fff;
    display: inline-block;
    background-color: #FCCD1E;
    text-align: center;
    color: #fff;
    width: 300px;
    height: 50px;
    padding-top: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-post-now:hover {
    box-shadow: 3px 3px 3px 3px #bdbdbd;
}
.btn-confirm-now:hover {
    box-shadow: 3px 3px 3px 3px #bdbdbd;
}
.btn-delete-now:hover {
    box-shadow: 3px 3px 3px 3px #bdbdbd;
}

.btn-view-now:hover {
    box-shadow: 3px 3px 3px 3px #bdbdbd;
}

.form-post-ticket {
    width: 100%!important;
}

.key #select-vehicle {
    width: 100%;
    padding: 10px 10px;
    font-size: 1em;
    border: none;
    border-bottom: none;
    outline: none;
    color: #999;
    float: left;
    background: none;
}

/* #sellingPrice {
    width: 100%; 
    padding-left: 10px
} */

 /* custom autocomplete input
.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    position the autocomplete items to be the same width as the container:
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    when hovering an item:
    background-color: #e9e9e9; 
} */
/* custom autocomplete input*/