################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/ResellTicketSolution/.vs/ResellTicketSolution
/Web/ResellTicketSolution/Core/bin/Debug/netstandard2.0
/Web/ResellTicketSolution/Core/obj
/Web/ResellTicketSolution/Service/bin/Debug/netstandard2.0
/Web/ResellTicketSolution/Service/obj
/Web/ResellTicketSolution/ViewModel/bin/Debug/netstandard2.0
/Web/ResellTicketSolution/ViewModel/obj
/Web/ResellTicketSolution/WebAPI/bin/Debug/netcoreapp2.2
/Web/ResellTicketSolution/WebAPI/obj
